<h3>Welcome to BlackJack, <%= session[:player_name] %>!</h3>
<p>To play the game you must first make a bet.</p>
<p>You currently have $<%= session[:player_pot].to_i %> available with which to bet.</p>
<p>Once you press the "Make a Bet" button below, the first hand will be dealt.</p>
<p>Please place a bet for your first hand of blackjack.</p>
<form action='bet' method='post'>
	<input type="text" name="bet_amount"/>
	<br/>
	<input type="submit" value="Make a bet" class="btn" />
</form>
